tests/__pycache__/*
__pycache__/*
*.pyc
venv/*
.coverage
=1.0.0
*output.txt
flake8_*.txt
*.egg-info/
htmlcov/
dev_agent.egg-info/dependency_links.txt
dev_agent.egg-info/entry_points.txt
dev_agent.egg-info/PKG-INFO
dev_agent.egg-info/requires.txt
dev_agent.egg-info/SOURCES.txt
dev_agent.egg-info/top_level.txt
